<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Frontend Assignment</span>
</nav>
<br>
<div class="container">
  <mat-card>
    <mat-card-title> Dashboard</mat-card-title>
    <div class="container">
      <div class="row">
        <div class="col">
          <mat-card>
            <mat-card-title>Pie Chart</mat-card-title>
            <mat-card-content>
                <div style="display: block">
                  <canvas baseChart
                          [data]="chartData"
                          [labels]="chartLabel"
                          [chartType]="pieChartType"
                          [colors]="pieChartColors"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                      </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col">

          <mat-card style="height: 300px;">
            <mat-card-content style="text-align: center; align-self: center;overflow: hidden;">
              <mat-card-subtitle style="font-size: large;">Total number of Users</mat-card-subtitle>
              <mat-card-title>{{totalUsers}}%</mat-card-title>
              <mat-icon aria-hidden="false" aria-label="Example home icon">people</mat-icon>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <br>

            <mat-table [dataSource]="apiData" class="mat-elevation-z8">

              <!-- Sno Column -->
              <ng-container matColumnDef="Sno">
                <mat-header-cell *matHeaderCellDef> Sno. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>

              <!-- Username Column -->
              <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
              </ng-container>

              <!-- City Column -->
              <ng-container matColumnDef="city">
                <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.address.city}} </mat-cell>
              </ng-container>

              <!-- Pincode Column-->
              <ng-container matColumnDef="pincode">
                <mat-header-cell *matHeaderCellDef> Pincode </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.address.zipcode}} </mat-cell>
              </ng-container>
              <!-- Company Name Column -->
              <ng-container matColumnDef="company">
                <mat-header-cell *matHeaderCellDef> Copmany Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.company.name}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>

  </mat-card>
</div>

